{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}
{% from 'common_macros.html.j2' import show_other_attributes, linked_name %}

<h1>{{ object.name | capitalize }}</h1>

{% if object.owner %}
    <p>A function of {{ linked_name(object.owner) | safe }}</p>
{% else %}
    <p style="color: red;">This function is not allocated to any entity / no entity is responsible for it.</p>
{% endif %}

{% if object.description %}
<p>{{ object.description }}</p>
{% else %}
<p style="color:red">No description available.</p>
{% endif %}

<h2>Conditional availability</h2>
{% if object.available_in_states %}
<p>The function is available in the following states of the {{ linked_name(object.owner) | safe }}:</p>
<ul>
    {% for state in object.available_in_states %}
        <li><a href="{{ state | make_href }}">{{ state.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
    <p>The function is always available (unconditionally) / not bound to specific Entity states</p>
{% endif %}

<h2>Context Diagram</h2>

<p>The diagram below provides an overview over the functional context: functions on the left provide functional inputs to the function of interest, functions on the right consume the outputs of the function of interest. The system is responsible for the functions with the green background. Functions with the blue background are allocated to external actors.</p>

{{ object.context_diagram.as_svg | safe }}

<h2>Inputs and Outputs</h2>
{% set cache = namespace(currentLevel='1', hnr=1, h1=0, h2=0, h3=0, h4=0, h5=0, h6=0, temp0=[], primaryId='', found=false) %}
<p>
  <strong>Inputs</strong>
</p>
{% set cache.InfoIsPrinted = False %}
<p>{% if object.inputs|length == 0 %}No exchanges consumed by function <strong>{{object.name}}</strong>.{% endif %}</p>
{% for inp in object.inputs %}{% for iExch in inp.exchanges|sort(attribute='name', reverse=False) %}{# FOR 1, 2 ##}
{% if not cache.InfoIsPrinted %}
{% set cache.InfoIsPrinted = True %}
<p>The following exchanges are consumed by the function <strong>{{object.name}}</strong>:</p>
{% endif%}
<ul>
  <li>
    <strong>{{ iExch.name }}</strong> provided by function <strong>{{ iExch.source.owner.name }}</strong>: {{ iExch.description }}. <br/>{% if iExch.exchange_items|length > 0 %}The exchange item {% else %} No exchange items {% endif %} {%for eItem in iExch.exchange_items%}<em>{{eItem.name}}</em>{% if loop.last == False%}, {% endif %}{% endfor %} is conveyed by this functional exchange.</li>
</ul>
<p>{% endfor %}{% endfor %}{# FOR 1, 2 ##}</p>
<p>
  <strong>Outputs</strong>
</p>
{% set cache.InfoIsPrinted = False %}</p>
{% if object.outputs|length == 0 %}No exchanges are provided by function <strong>{{object.name}}</strong>.{% endif %}
{% for outp in object.outputs %}{% for iExch in outp.exchanges %}{# FOR 1, 2 ##}
{% if not cache.InfoIsPrinted %}
{% set cache.InfoIsPrinted = True %}
<p>The following exchanges are provided by the function <strong>{{object.name}}</strong>:</p>
{% endif%}
<ul>
  <li>
    <strong>{{ iExch.name }}</strong> provided to function <strong>{{ iExch.target.owner.name }}</strong>: {{ iExch.description }}. <br/>{% if iExch.exchange_items|length > 0 %}The exchange item {% else %} No exchange items {% endif %} {%for eItem in iExch.exchange_items%}<em>{{eItem.name}}</em>{% if loop.last == False%}, {% endif %}{% endfor %} is conveyed by this functional exchange.</li>
</ul>
{% endfor %}{% endfor %}{# FOR 1, 2 ##}






<h2>Other properties of "{{ object.name }}"</h2>
{% set excluded = ["context_diagram", "description", "name", "owner", "xtype","inputs","outputs"] %}
{{ show_other_attributes(object, excluded) | safe}}
