{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}

{% from 'common_macros.html.j2' import show_other_attributes, linked_name_with_icon %}

{% set object = model.sa.root_component%}
<h1>System Definition</h1>

<h2>Introduction</h2>
<h3>Purpose</h3>
<p>The purpose of this document is the following:</p>
<ul>
    <li>Definition of the system objectives (capabilities)</li>
    <li>System description, including the following aspects
        <ul>
            <li>the system boundary and the actors interacting with the system</li>
            <li>the system and actor functions which are necessary to achieve the system capabilities</li>
            <li>how the system functions are used to achieve the system capabilities</li>
        </ul>
    </li>
    <li>Application conditions and limitations</li>
    <li>Safety measures</li>
    <li>Known limitations and assumptions</li>
</ul>

<p>This document is intended to serve the needs of multiple audiences including, but not limited to:</p>
<ul>
    <li>All readers, to describe the System under Consideration</li>
    <li>Safety organisation, to provide the input document for RAMS analysis</li>
    <li>System architects, to provide foundations for architecture and design activities</li>
    <li>IVV, to provide basic understanding about the system</li>
</ul>

<h2>System boundary</h2>
<p>The system boundary is defined by the following:</p>
{{ object.context_diagram.as_svg | safe}}

<h2>System Functions</h2>
{% if object.allocated_functions | length > 0 %}
    <p>The system is expected to perform the following functions:</p>
    <ul>
        {% for fnc in object.allocated_functions %}
            <li><a href="{{ fnc | make_href }}">{{ linked_name_with_icon(fnc) | safe }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p style="color:red">No functions allocated to the system.</p>
{% endif %}

{% if object.diagrams %}
    <h2>Diagrams</h2>
    <p>The following diagrams provide additional details on the system</p>
    {% for diagram in object.diagrams %}
        <h3>{{diagram.name}}</h3>
        {{ diagram.as_svg |safe }}
    {% endfor %}
{% endif %}

<h2>State Machines</h2>
<p>The following state machines describe system modes and states:</p>
{% for stm in object.state_machines %}
    <h3>{{ stm.name }}</h3>
    {% if stm.regions | length > 1 %}
        <p>The state machine has the following regions:</p>
        <ul>
        {% for region in stm.regions %}
            <li><a href="{{ region | make_href }}">{{ region.name }}</a></li>
        {% endfor %}
        </ul>
    {% elif stm.regions | length == 1 %}
        {% set region = stm.regions | first %}
        <ul>
        {% for state in region.states %}
            <li>{{ state._short_html_() }}"</li>
        {% endfor %}
        </ul>
    {% else %}
        <p style="color:red">State machine {{ stm.name }} has no regions.</p>
    {% endif %}
{% endfor %}

{# TODO: object.description may contain a malformed link, we need to handle that #}

<h2>Other properties of the system</h2>
{% set excluded = ["description", "context_diagram", "owner", "parent", "allocated_functions", "diagrams", "name", "parts", "realizing_components", "state_machines", "xtype"] %}

{{ show_other_attributes(object, excluded) | safe}}
