/*
 * Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* select styles from "tailwindcss/preflight.css" */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
  }
}
@import "tailwindcss/utilities.css" layer(utilities);

@import "../node_modules/mdui/mdui.css" layer(theme);
@import "./mdui-theme.css" layer(theme);
@import "./mdui-tailwind.css" layer(theme);

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.mdui-theme-dark, .mdui-theme-dark *));

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIconsOutlined-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIconsRound-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIconsSharp-Regular.woff2) format("woff2");
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
}

@utility colors-* {
  color: --value(--color-on- *);
  background-color: --value(--color- *);
}

/* chips */
@layer components {
  .chip-document {
    --mdui-color-primary: var(--mdui-color-on-chip-document-container);
    --mdui-color-surface: var(--mdui-color-chip-document-container);

    border: 1px rgb(var(--mdui-color-primary)) solid;
  }

  .chip-experimental {
    --mdui-color-primary: var(--mdui-color-on-chip-experimental-container);
    --mdui-color-surface: var(--mdui-color-chip-experimental-container);

    border: 1px rgb(var(--mdui-color-primary)) solid;
  }

  .chip-stable {
    --mdui-color-primary: var(--mdui-color-on-chip-stable-container);
    --mdui-color-surface: var(--mdui-color-chip-stable-container);

    border: 1px rgb(var(--mdui-color-primary)) solid;
  }
}

.template-container ul > li > a > img,
.template-container a > img {
  margin: 0 !important;
}
html.mdui-theme-dark .layer-above,
html.mdui-theme-dark .svg-display img:not(.icon),
html.mdui-theme-dark .bp-inner img {
  filter: hue-rotate(180deg) invert(80%) saturate(200%);
}

.html-content {
  text-align: left;
}
.html-content a {
  @apply no-underline;
  @apply font-normal;
}
.html-content h1,
.html-content h2,
.html-content h3,
.html-content h4,
.html-content h5,
.html-content h6 {
  word-break: break-word;
}

.html-content svg {
  display: block;
  @apply h-auto max-w-full;
  text-align: center;
}

.html-content h1 {
  @apply mb-4 mt-5 text-4xl;
}

.html-content h2 {
  @apply mb-3 mt-5 text-3xl;
}

.html-content h3 {
  @apply mb-3 mt-5 text-2xl;
}

.html-content h4 {
  @apply mb-3 mt-5 text-xl;
}

.html-content table {
  @apply min-w-full divide-y divide-gray-400;
}
.html-content table tr {
  border-bottom: 1px solid #ddd;
}
.html-content table tr:last-of-type {
  border-bottom: none;
}
.html-content table tr td,
.html-content table tr th {
  vertical-align: top;
  padding: 0 0.4em;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: normal;
}
.html-content table tr td:first-of-type,
.html-content table tr th:first-of-type {
  vertical-align: top;
  padding: 0 0.4em;
  word-break: normal;
}
.html-content table tr td p {
  padding-top: 0;
  margin-top: 0;
}

.html-content table tr td p:last-of-type {
  margin-bottom: 0.2em;
}

.html-content table tr td ul {
  padding-bottom: 0.6em;
}

.html-content p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  line-height: 1.5em;
}
.html-content p a,
.html-content li a {
  @apply italic text-gray-500 hover:underline;
}
