{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}

{% from 'common_macros.html.j2' import show_other_attributes, linked_name, linked_name_with_icon, description, display_property_label %}

<style>
    .table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;

        text-align: left;
    }

    tr:hover, th {
        background-color: #f2f2f2;
    }
</style>



{% macro properties_table(props, obj) %}
<table className="min-w-full divide-y divide-gray-200">
    <thead>
        <tr>
            <th>Property</th>
        </tr>
    </thead>
    <tbody>
    {% for property in props %}
        <tr  style="border-bottom: none;">
            <td>
                {{ display_property_label(obj, property) | safe }}
                {% if property.kind != "UNSET" %}
                <p>KIND: {{ property.kind }}</p>
                {% endif %}
            </td>
        </tr><tr>
            <td style="padding-left: 2.5em !important; padding-bottom: 0.6em;">
                {{ description(property) | safe}}
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>
{% endmacro %}

<h1><span style="font-weight: normal">{{ object.__class__.__name__ }}</span> <b>{{ object.name }}</b></h1>
<p>Parent: {{ linked_name_with_icon(object.parent) | safe }}</p><br>
{% if object.description %}
<p>{{ object.description }}</p>
{% else %}
<p style="color:red">No description available.</p>
{% endif %}

<h2>Relationships Overview</h2>
<p>The diagram below provides a view on raletionships between the {{ object.name }} and other objects.</p>

{{ object.tree_view.as_svg|safe}}

{% set props = [] %}
{% if object.super %}
    {% set props = props | list + object.super.properties | list %}
{% endif %}
{% set props = props + object.owned_properties | list %}

<h2>Owned Properties</h2>
{% if props %}
    <p>The object owns the properties listed below; We use the following format to describe property: name : type [min .. max (instances of type)] or [ fixed number]; if no multiplicity is shown assume its 1 (single instance).</p><br>
    {{ properties_table(props, object) |safe }}
{% else %}
    <p style="color:red">No properties are owned by this object.</p>
{% endif %}


{% set handled_attrs = ["from_model", "pvmt", "owned_properties", "properties", "parent", "generalizations", "super", "tree_view", "xtype", "name"]%}

<h2>Other Object Attributes</h2>
{{ show_other_attributes(object, handled_attrs) | safe }}
