{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}
{% from 'common_macros.html.j2' import show_other_attributes, description %}

<h1><span style="font-weight:normal">{{ object.__class__.__name__}}</span> {{ object.name }}</h1>

{% for region in object.regions %}
    <h2>{{ region.name }}</h2>
    {% for diagram in region.diagrams %}
        <h3>{{ diagram.name }}</h3>
        {{ diagram.as_svg | safe }}
    {% endfor %}
    {{ show_other_attributes(region) | safe  }}
{% endfor %}

<h2>Other properties of "{{ object.name }}"</h2>
{% set excluded = ["name", "xtype", "regions"] %}
{{ show_other_attributes(object, excluded) | safe  }}
