{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}
{%
  from 'common_macros.html.j2' import
  linked_name,
  show_other_attributes,
  description,
  render_reqs_by_type,
  linked_name_with_icon,
  render_data_flow_and_involved_activities,
  render_related_diagrams,
  render_constraints,
  display_traceability
%}

<h1>{{ linked_name(object) }}</h1>
{{ description(object) | safe }}

<br /><b>Pre-condition</b>:
{% if object.precondition %}
  <p>{{ object.precondition.specification['capella:linkedText']|safe }}</p>
{% else %}
  <p style="color:red">No pre-condition defined</p>
{% endif %}

<br /><b>Post-condition</b>:
{% if object.postcondition %}
  <p>{{ object.postcondition.specification['capella:linkedText']|safe }}</p>
{% else %}
  <p style="color:red">No post-condition defined</p>
{% endif %}

<h2>Context Diagram</h2>
<p>
  The diagram below provides an overview over the entities immediately involved
  in the Capability and related Capabilities.
</p>

{{ object.context_diagram }}

{{
  render_data_flow_and_involved_activities(
    object,
    "Functional Requirements",
    object.involved_functions,
    object.involved_components,
    "The diagram below provides an overview of the Logical System (green) and actor
    (blue) functions that are required to realize the Capability.",
    "This section provides a summary of what functions are required from the
    Logical System and the actors to enable the CapabilityRealization.",
    "CapabilityRealization",
    "functions",
    "components",
    "LogicalComponent"
  )
}}
{%- set related_processes = object.involved_chains + object.owned_chains -%}
{%- set related_processes = related_processes | unique(attribute="uuid") | list -%}
{%- if related_processes -%}
  <h2>Related Functional Chains</h2>
  <p>
    The following functional chains are related to the Capability
    {{ object.name }}:
  </p>
  <ul>
    {%- for process in related_processes -%}
      <li>{{ linked_name_with_icon(process) | safe }}</li>
    {%- endfor -%}
  </ul>
{%- endif -%}

{{ render_related_diagrams(object) | safe }}

{{ render_constraints(object) | safe }}

{% if object.requirements %}
  <h2>Linked Requirement objects</h2>
  {% set types = model.search("RequirementType") | map(attribute="long_name") | unique | list %}
  {{ render_reqs_by_type(object.requirements, types) | safe }}
{% endif %}

{{ display_traceability(object)| safe }}

<h2>Other properties of "{{ object.name }}"</h2>

{%-
  set excluded = [
    "name",
    "parent",
    "xtype",
    "description",
    "postcondition",
    "precondition",
    "diagrams",
    "visible_on_diagrams",
    "constraints",
    "context_diagram",
    "data_flow_view",
    "involved_components",
    "realizing_capabilities",
    "involved_functions",
    "owned_chains",
    "involved_chains",
    "requirements"
  ]
-%}
{{ show_other_attributes(object, excluded=excluded) | safe }}
