{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}
{% if object.name %}
<h1>{{ object.name }} <span style="font-size: 60%">({{ object.__class__.__name__ }})</span></h1>
{% else %}
<h1>Unnamed {{ object.__class__.__name__ }})</small></h1>
{% endif %}
{%- for attr in object.__dir__()|sort if not attr.startswith("_") and attr not in ("from_model", "pvmt") -%}
  {%- set value = object[attr] -%}
  <h2 style="opacity: 0.8; border-top: 1px solid grey; margin-top: 1rem; padding-left: 1rem; font: 1rem monospace">{{ attr }}</h2>
  {%- if value.as_svg -%}
    {{ value.as_svg|safe }}
  {% elif value._short_html_ -%}
    <p>{{ value._short_html_() }}</p>
  {% else -%}
    <p>{{ value }}</p>
  {% endif -%}
{% endfor -%}
