{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}

{% macro show_other_attributes(object, excluded=[]) %}
    {% set empty_attrs = [] %}

    {%- for attr in object.__dir__()|sort if not attr.startswith("_") and attr not in ["from_model", "pvmt"]+excluded -%}
    {%- set value = object[attr] -%}
    {% if value %}
        <h2 style="opacity: 0.8; border-top: 1px solid grey; margin-top: 1rem; padding-left: 1rem; font: 1rem monospace">{{ attr }}</h2>
        {%- if value.as_svg -%}
        {{ value.as_svg|safe }}
        {% elif value._short_html_ -%}
        <p>{{ value._short_html_() }}</p>
        {% else -%}
        <p>{{ value }}</p>
        {% endif -%}
    {% else %}
        {% set _none = empty_attrs.append(attr) %}
    {% endif %}
    {% endfor -%}

    {% if empty_attrs %}
    <h3>Unset attributes</h3>
    <p>The object has the following attributes in unset state (empty values): {{ ", ".join(empty_attrs) }}</p>
    {% endif %}
{% endmacro %}

{% macro req_rels(rels) %}
{% if rels %}
<ul>
{% for rel in rels %}
    <li>
        <a href="{{ rel.type | make_href if rel.type else '#' }}">{{rel.type.long_name }}</a> 
        {{ rel.target.__class__.__name__ }} 
        <a href="{{ rel.target | make_href  if rel.target else '#' }}">{{ rel.target.name }}</a>
    </li>
{% endfor %}
</ul>
{% else %}
<p style="color: red;">Not linked to any model objects</p>
{% endif%}
{% endmacro %}

{% macro render_requirements_table(reqs) %}
    {% for req in reqs %}
        <div style="margin-top: 1em; margin-bottom: 1em;">
            <div><b>ID:</b> <a href="{{ req | make_href }}">{{ req.uuid }}</a></div>
            <div>{{ req.text if req.text else req.long_name }}</div>
            <div>{{req_rels(req.relations) | safe}}</div>
        </div>
        {% endfor %}
{% endmacro %}

{% macro render_reqs_by_type(reqs, types) %}
    {% for req_type in types+[None] %}
        {% set reqs = reqs.by_type(req_type)%}
        {% if reqs %}
            <h3>Of type "{{ req_type | string }}"</h3>
            {{ render_requirements_table(reqs) | safe }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro description(obj) %}
    {% if obj.description %}
    {{ obj.description | safe }}
    {% else %}
    <p style="color:red">No description available.</p>
    {% endif %}
{% endmacro %}