{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}

{% from 'common_macros.html.j2' import show_other_attributes, description, render_reqs_by_type, linked_name, linked_name_with_icon, display_traceability %}

<h1>Model Change Assessment Report</h1>
<p>This report provides an analysis of changes to the following model repository:</p>
<p>
    <b>Repository: </b>{{ data["metadata"]["model"]["path"] | e }} <br/>
    <b>Entry point: </b>{{ data["metadata"]["model"]["entrypoint"] | e }}
</p>
<p>The review of changes covers the following commits:</p>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Previous</th>
            <th>Current</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Author</th>
            <td>{{ data["metadata"]["old_revision"]["author"] | e }}</td>
            <td>{{ data["metadata"]["new_revision"]["author"] | e }}</td>
        </tr>
        <tr>
            <th>Revision</th>
            <td>{{ data["metadata"]["old_revision"]["revision"] | e }}</td>
            <td>{{ data["metadata"]["new_revision"]["revision"] | e }}</td>
        </tr>
        <tr>
            <th>Date & time of commit</th>
            <td>{{ data["metadata"]["old_revision"]["date"] | e }}</td>
            <td>{{ data["metadata"]["new_revision"]["date"] | e }}</td>
        </tr>
        <tr>
            <th>Commit message</th>
            <td>{{ data["metadata"]["old_revision"]["description"] | e }}</td>
            <td>{{ data["metadata"]["new_revision"]["description"] | e }}</td>
        </tr>
        <tr>
            <th>Commit ID (hash)</th>
            <td>{{ data["metadata"]["old_revision"]["hash"] | e }}</td>
            <td>{{ data["metadata"]["new_revision"]["hash"] | e }}</td>
        </tr>
    </tbody>
</table>

{% macro pretty_stats(stats) %}
<span style="font-weight: normal;">(
    {% if stats.created %}<span style="color:green">+{{stats["created"]}}</span> / {% endif %}
    {% if stats.deleted %}<span style="color:red">-{{stats["deleted"]}}</span> / {% endif %}
    {% if stats.modified %}<span style="color:blue">Δ{{stats["modified"]}}</span>{% endif %}
)</span>
{% endmacro %}


{% macro display_basic_changes(key, objects, color) %}
    {% if key in objects %}
        <h4 style="color: {{color}}">{{key | upper}} ({{ objects[key] | length }})</h4>
        <div class="section">
            <ul>
                {% if key == "deleted" %}
                    {% for obj in objects[key] %}
                    <li>{{ obj.display_name }}</li>
                    {% endfor %}
                {% else %}
                {% for obj in objects[key] %}
                    {% set object = model.by_uuid(obj.get("uuid", "default_value")) %}
                    <li>{{ linked_name_with_icon(object) | safe}}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{% macro spell_changes_out(changes) %}
    <div class="created-modified-delited">
    {{ display_basic_changes("created", changes, "#009900") | safe}}
    {% if "modified" in changes %}
        <h4 style="color: blue">MODIFIED ({{ changes["modified"] | length }})</h4>
        <div class="section">
            {% for obj in changes["modified"] %}
            {% set object = model.by_uuid(obj["uuid"]) %}
            <p><b>{{ linked_name_with_icon(object) | safe }}</b></p>
            <div class="section">
            <ul>
                {% for change in obj["attributes"] %}
                <li><b>{{ change }}</b>:
                    {% if "diff" in obj["attributes"][change] %}
                        {{ obj["attributes"][change]["diff"] | safe}}
                    {% else %}
                        {{ obj["attributes"][change]["previous"] | e }} -&gt; {{ obj["attributes"][change]["current"] | e }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
                {{ display_basic_changes("introduced", obj, "#009900") | safe }}
                {{ display_basic_changes("removed", obj, "red") | safe}}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {{ display_basic_changes("deleted", changes, "red") | safe }}
    </div>
{% endmacro %}

{% set LAYER = {"oa": "Operational Analysis", "sa": "System Analysis", "la": "Logical Architecture", "pa": "Physical Architecture"}%}

<h1>Diagram changes</h1>
<div class="section">
    {% for layer in ["oa", "sa", "la", "pa"] %}
    {% set layer_data = data["diagrams"][layer] %}
    {% if layer_data and layer_data.stats %}
        <h2>{{LAYER[layer]}} {{ pretty_stats(layer_data.stats) | safe }}</h2>
        <div class="section">
        {% for diag_type, diags in data.diagrams[layer].items() %}
            {% if diags.stats %}
                <h3>{{diag_type}} {{pretty_stats(diags.stats) | safe }}</h3>
                {{ spell_changes_out(diags) | safe }}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    {% endfor %}
</div>

<h1>Object Changes {{ pretty_stats(data["objects"].stats) | safe }}</h1>
<div class="section">
{% for layer in ["oa", "sa", "la", "pa"] %}
    {% set layer_data = data["objects"][layer] %}
    {% if layer_data and layer_data.stats %}
        <h2>{{LAYER[layer]}} {{ pretty_stats(layer_data.stats) | safe }}</h2>
    {% macro render_section(data, layer) %}
    <div class="section">
        {% for obj_type in data["objects"][layer] if obj_type != "stats" %}
            {% set obj_type_items = data["objects"][layer][obj_type] %}
            {% if obj_type_items.stats %}
            <h3>{{ obj_type }} {{ pretty_stats(obj_type_items.stats) | safe }}</h3>
            {{ spell_changes_out(obj_type_items) | safe }}
            {% endif %}
        {% endfor %}
    </div>
    {% endmacro %}
    {{ render_section(data, layer) | safe }}
    {% endif %}
{% endfor %}
</div>
