{% from 'common_macros.html.j2' import show_other_attributes, description, render_reqs_by_type %}

<h1>{{ object.name }}</h1>
{{ description(object) | safe }}

<p style="margin-top:1.5em; "><b>Parent:</b> {{object.parent._short_html_()}}</p>

{% if object.capabilities %}
<p><b>{{ object.name }}</b> is involved in the following operational capabilities: 
{%- for cap in object.capabilities -%}
<a href="{{ cap | make_href }}">{{ cap.name }}</a>; 
{%- endfor -%}
</p>
{% endif %}

{% if object.state_machines %}
<h2>State Machines</h2>
<p>The following state machines describe the entity modes and states:</p>
{% for stm in object.state_machines %}
    <h3>{{ stm.name }}</h3>
    {% if stm.regions | length > 1 %}
        <p>The state machine has the following regions:</p>
        <ul>
        {% for region in stm.regions %}
            <li><a href="{{ region | make_href }}">{{ region.name }}</a></li>
        {% endfor %}
        </ul>
    {% elif stm.regions | length == 1 %}
        {% set region = stm.regions | first %}
        <ul>
        {% for state in region.states %}
            <li>{{ state._short_html_() }}: {{ description(state) | safe }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p style="color:red">State machine {{ stm.name }} has no regions.</p>
    {% endif %}
{% endfor %}
{% endif %}

{% if object.activities %}
<h2>Operational Activities</h2>
<p><b>{{object.name}}</b> is responsible for the following operational activities:</p>
<ul>
{% for activity in object.activities %}
    <li>
        <a href="{{ activity | make_href }}">{{activity.name}}</a>: {{ description(activity) | safe }}
        <p><b>{{ activity.name }}</b> is involved in the following operational capabilities: 
        {%- for cap in object.capabilities -%}
        {%- if activity in cap.involved_activities -%}
        <a href="{{ cap | make_href }}">{{ cap.name }}</a>; 
        {%- endif -%}
        {%- endfor -%}
        </p>
    </li>
{% endfor %}
{% endif %}

{% if object.requirements %}
<h2>Linked Requirement objects</h2>
{% set types = model.search("RequirementType") | map(attribute="long_name") | unique | list %}
{{ render_reqs_by_type(object.requirements, types) | safe }}
{% endif %}

{% if object.entities %}
    <h2>Contained Operational Entities</h2>
    <p><b>{{object.name}}</b> contains {{ object.entities | length }} operational entities:</p>
    <ul>
    {% for entity in object.entities %}
        <li>
            <a href="{{ entity | make_href }}">{{entity.name}}</a>: {{ description(entity) | safe }}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% set filtered = ["description", "xtype", "entities", "owner", "parent", "parts", "requirements", "state_machines", "activities", "capabilities", "name"]%}
{{ show_other_attributes(object, filtered) | safe}}
