{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}

<h1>{{ object.name | capitalize }}</h1>

{% if object.description %}
<p>{{ object.description }}</p>
{% else %}
<p style="color:red">No description available.</p>
{% endif %}

<h2>Function owner</h2>
{% if object.owner %}
    <p>An Entity that is responsible for providing this function: <b><a href="{{ object.owner | make_href }}">{{object.owner.name}}</a></b>.</p>
{% else %}
    <p>This function is not allocated to any entity / no entity is responsible for it.</p>
{% endif %}

<h2>Conditional availability</h2>
{% if object.available_in_states %}
<p>The function is available in the following Entity states:</p>
<ul>
    {% for state in object.available_in_states %}
        <li><a href="{{ state | make_href }}">{{ state.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
    <p>The function is always available (unconditionally) / not bound to specific Entity states</p>
{% endif %}

<h2>Context Diagram</h2>

<p>The diagram below provides an overview over the functional context: functions on the left provide functional inputs to the function of interest, functions on the right consume the outputs of the function of interest. The system is responsible for the functions with the green background. Functions with the blue background are allocated to external actors.</p>

{{ object.context_diagram.as_svg | safe }}
