/*
 * Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-white dark:bg-gray-900;
}

.react-transform-wrapper {
  overflow: visible !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.collapsed {
  width: 50px; 
}

.html-content {
  text-align: left;
}

.html-content svg {
  display: block;
  @apply max-w-full h-auto;
  text-align: center;
}

.html-content h1 {
  @apply text-4xl mb-4 mt-5;
}

.html-content h2 {
  @apply text-3xl mb-3 mt-5;
}

.html-content h3 {
  @apply text-2xl mb-3 mt-5;
}

.html-content table { @apply min-w-full divide-y divide-gray-200; }

ul {
  @apply list-disc pl-5;
}

@media print {
  body, .html-wrapper, .flex-1, .html-content {
    overflow: visible !important;
  }
  .print\\:hidden {
    display: none !important;
}
  @page  { margin: 15mm; }   
}
