{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}
{%
  from 'common_macros.html.j2' import
  get_cap_type,
  render_functional_chain,
  display_traceability,
  show_other_attributes
%}
{%- set cap_type = get_cap_type(object) -%}
{{
  render_functional_chain(
    model, object, "OperationalProcess", cap_type, "operational process"
  )
}}

{{ display_traceability(object) | safe }}

<h2>Other attributes</h2>
{%
  set excluded = [
    "constraints",
    "context_diagram",
    "parent",
    "name",
    "involved",
    "involved_links",
    "involved_functions",
    "involving_chains",
    "involvements"
  ]
%}
{{ show_other_attributes(object, excluded=excluded) | safe }}
