{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}
{%
  from 'common_macros.html.j2' import
  linked_name,
  show_other_attributes,
  description,
  render_reqs_by_type,
  linked_name_with_icon,
  render_data_flow_and_involved_activities,
  render_related_diagrams,
  render_constraints,
  display_traceability
%}

<h1>{{ linked_name(object) }}</h1>
{{ description(object) | safe }}

<b>Pre-condition</b>:
{% if object.precondition %}
  <p>{{ object.precondition.specification['capella:linkedText']|safe }}</p>
{% else %}
  <p style="color:red">No pre-condition defined</p>
{% endif %}

<b>Post-condition</b>:
{% if object.postcondition %}
  <p>{{ object.postcondition.specification['capella:linkedText']|safe }}</p>
{% else %}
  <p style="color:red">No post-condition defined</p>
{% endif %}

{% if object.extends %}
  <p>
    The capability {{ object.name }} extends the following operational
    capabilities:
  </p>
  <ul>
    {%- for ext in object.extends -%}
      <li>{{ linked_name_with_icon(ext.target) | safe }}</li>
    {%- endfor -%}
  </ul>
{% endif %}

{% if object.extended_by %}
  <p>
    The capability {{ object.name }} is further extended by the following
    operational capabilities:
  </p>
  <ul>
    {%- for ext in object.extended_by -%}
      <li>{{ linked_name_with_icon(ext.source) | safe }}</li>
    {%- endfor -%}
  </ul>
{% endif %}

<h2>Context Diagram</h2>
<p>
  The diagram below provides an overview over the entities immediately involved
  in the Capability and related Capabilities.
</p>
{# Q: should we resolve inherited activities and actors / explicitly indicate where an actor / activity got inherited #}
{{ object.context_diagram }}

{{
  render_data_flow_and_involved_activities(
    object,
    "Involved Entities and Activities",
    object.involved_activities,
    object.involved_entities,
    "The diagram below provides an overview of the operational activities that
    are required to realize the Capability.",
    "To enable the Capability, the following entities and activities are
    involved:",
    "operational Capability",
    "activities",
    "entities",
    "Entity"
  )
}}
{%- set related_processes = object.involved_processes + object.owned_processes -%}
{%- set related_processes = related_processes | unique(attribute="uuid") | list -%}
{%- if related_processes -%}
  <h2>Related Processes</h2>
  <p>
    The following operational processes are related to the Capability
    {{ object.name }}:
  </p>
  <ul>
    {%- for process in related_processes -%}
      <li>{{ linked_name_with_icon(process) | safe }}</li>
    {%- endfor -%}
  </ul>
{%- endif -%}

{{ render_related_diagrams(object) | safe }}

{{ render_constraints(object) | safe }}

{% if object.requirements %}
  <h2>Linked Requirement objects</h2>
  {% set types = model.search("RequirementType") | map(attribute="long_name") | unique | list %}
  {{ render_reqs_by_type(object.requirements, types) | safe }}
{% endif %}

{{ display_traceability(object)| safe }}

<h2>Other object attributes</h2>

{%-
  set excluded = [
    "name",
    "parent",
    "xtype",
    "description",
    "postcondition",
    "precondition",
    "diagrams",
    "visible_on_diagrams",
    "constraints",
    "context_diagram",
    "data_flow_view",
    "entity_involvements",
    "involved_entities",
    "realizing_capabilities",
    "involved_activities",
    "owned_processes",
    "involved_processes",
    "requirements"
  ]
-%}
{{ show_other_attributes(object, excluded=excluded) | safe }}
