# Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: CC0-1.0

name: Build

on:
  pull_request:
  push:
    branches: ["*"]
    tags: ["v*.*.*"]
  workflow_dispatch:

jobs:
  test:
    name: Test with Python ${{matrix.python_version}} on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python_version:
          - "3.11"
          - "3.12"
        include:
          - os: windows-latest
            python_version: "3.11"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{matrix.python_version}}
        uses: actions/setup-python@v5
        with:
          cache: pip
          cache-dependency-path: pyproject.toml
          python-version: ${{matrix.python_version}}
      - name: Upgrade Pip
        run: |-
          python -m pip install -U pip
      - name: Install test dependencies
        run: |-
          python -m pip install '.[test]'
      - name: Run unit tests
        run: |-
          python -m pytest --cov-report=term --cov=capella_model_explorer --rootdir=.

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          cache: pip
          cache-dependency-path: pyproject.toml
          python-version: "3.11"
      - name: Upgrade pip
        run: python -m pip install -U pip
      - name: Install pre-commit
        run: python -m pip install pre-commit types-docutils
      - name: Run Pre-Commit
        run: pre-commit run --all-files

  build:
    name: Build wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |-
          python -m pip install -U pip
          python -m pip install build twine
      - name: Build packages
        run: |-
          python -m build
      - name: Verify packages
        run: |-
          python -m twine check dist/*
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions
          path: 'dist/*'
  pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: [build, test]
    if: startsWith(github.ref, 'refs/tags/v')
    environment:
      name: pypi
      url: https://pypi.org/project/capella-model-explorer
    permissions:
      id-token: write
    steps:
      - name: Download built wheel
        uses: actions/download-artifact@v4
        with:
          name: python-package-distributions
          path: dist/
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
